body {
    background-color: black;
    color:antiquewhite; 
    font-family: "Caprasimo", serif;
}
header{
    font-size: 25px;
    border-bottom: dashed 4px rgb(228, 82, 42);
    padding: 35px;
    font-size: 35px;
    color: rgb(255, 119, 0);

}
h1{
    font-size: 30px;
}
p{
    font-size: 20px;
}
section{
    background-color: rgb(3, 49, 49);
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
.img{
    height: 200px;
}
.Primeiras químicas{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
section{
    padding-left: 10px;
    padding-right: 10px;
}